<!DOCTYPE html>
<html>
<body>
	<div class="container-fluid addNewExamSec">
		<div class="alert alert-danger addQuestErrors" style="display: none"></div>
		<div class="row">
			<div class="col-xs-12">
				<!-- <div class="btn-pref btn-group btn-group-justified btn-group-lg"
					role="group">
					<div class="btn-group" role="group">
						<button type="button" id="newExam" class="btn btn-primary"
							href="#tab1" data-toggle="tab">
							<span class="glyphicon glyphicon-plus"></span>
							<div class="hidden-xs">Add New Category</div>
						</button>
					</div>
				</div> -->
				<div class="well">
					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab1">
							<div class="row">
								<div class="col-md-4">
									<label class="col-md-11 col-xs-11" for="newCategory">Category
										Name <span style="color: red">*</span> :
									</label>
								</div>
								<div class="col-md-4">
									<label class="col-md-11 col-xs-11" for="newCategory">Sub
										Category Name <span style="color: red">*</span> :
									</label>
								</div>
								<div class="col-md-4">
									<label class="col-md-11 col-xs-11" for="newCategory">Subject
										Name <span style="color: red">*</span> :
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="col-md-9 col-xs-9">
										<input type="text" class=" col-xs-6 form-control editMode"
											id="txtCategory" />
									</div>
									<div class="col-md-3 col-xs-3">
										<button id="btnCategory" class="btn btn-primary"
											for="txtCategory">Add</button>
									</div>
								</div>
								<div class="col-md-4">
									<div class="col-md-9 col-xs-9">
										<input type="text" class=" col-xs-6 form-control editMode"
											id="txtSubCategory" />
									</div>
									<div class="col-md-3 col-xs-3">
										<button id="btnSubCategory" class="btn btn-primary"
											for="txtSubCategory">Add</button>
									</div>
								</div>
								<div class="col-md-4">
									<div class="col-md-9 col-xs-9">
										<input type="text" class=" col-xs-6 form-control editMode"
											id="txtSubject" />
									</div>
									<div class="col-md-3 col-xs-3">
										<button id="btnSubject" class="btn btn-primary"
											for="txtSubject">Add</button>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4">
									<div class="col-md-12 col-xs-12">
										<!-- <textarea id="txtaCategory" style="width:100%;" rows="10" readonly>
									</textarea> -->
										<div id="txtaCategory"
											style="width: 95%; overflow: auto; max-height: 500px; background-color: white; height: 197px; margin-top: 15px;">
										</div>
									</div>

								</div>
								<div class="col-md-4">
									<div class="col-md-12 col-xs-12">
										<div id="txtaSubCategory"
											style="width: 95%; overflow: auto; max-height: 500px; background-color: white; height: 197px; margin-top: 15px;">
										</div>
									</div>

								</div>
								<div class="col-md-4">
									<div class="col-md-12 col-xs-12">
										<div id="txtaSubject"
											style="width: 95%; overflow: auto; max-height: 500px; background-color: white; height: 197px; margin-top: 15px;">
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>