<!DOCTYPE html>

<html>
<body>
	<div class="addNewCandidate" style="margin-left:50px">
		<div class="col-md-12">
			<div class="emptyRow">
			
			</div>
			<div class="row">
				<label class="" for="newCategory">Candidate Name</label>
			</div>
			<div class="row">
				<label class="" for="fatherName">Father Name</label>
			</div>
			<div class="row">
				<label class="" for="motherName">Mother Name</label>
			</div>
			<div class="row dateField">
				<label class="" for="dob">DOB</label>
			</div>
			<div class="row">
				<label class="" for="address">Address</label>
			</div>
			<div class="row">
				<label class="" for="newExamHours">Phone</label>
			</div>
			<div class="row phoneField">
				<label class="" for="newPassPercent">Email</label>
			</div>
			<div class="row">
				<label class="" style="" for="newPassPercent">Action</label>
			</div>
		</div>
		<div class="col-md-12">
			<div class="emptyRow">
			
			</div>
			<div class="row">
				<input type="text" class="formFields" id="canName" />
			</div>
			<div class="row">
				<input type="text" class="formFields" id="canFatherName" />
			</div>
			<div class="row">
				<input type="text" class="formFields" id="canMotherName" />
			</div>
			<div class="row dateField">
				<input type="text" class="formFields" id="canDob" />
			</div>
			<div class="row">
				<textarea id="canAddress" class="formFields col-xs-6 form-control"
					rows="2"></textarea>
			</div>
			<div class="row phoneField">
				<input type="text" class="formFields" id="canPhone" />
			</div>
			<div class="row">
				<input type="text" class="formFields" id="canEmail" />
			</div>
			<div class="row" style="    text-align: center;width: 13%;">
				<button type="button" id="newReset"
					style="margin-right: 20px;"
					class="btn btn-warning">Reset</button>
				<button type="button" id="saveCandidate" class="btn btn-success">Save</button>
			</div>
		</div>
		<div style="clear:both"></div>
		<div id="candidateList" style="height: 500px;overflow: auto;"></div>
	</div>
</body>
</html>