<!DOCTYPE html>

<html>
<body>
	<div class="addNewUser" style="margin-left: 50px">
		<div class="col-md-12">
		<div class="emptyRow"></div>
			<div class="row">
				<label class="" for="name">Name</label>
			</div>
			<div class="row">
				<div class="col-md-12">

					<label class="" for="name">Role</label>

				</div>
			</div>
			<div class="row">
				<label class="" for="userName">User Name</label>
			</div>
			<div class="row">
				<label class="" for="password">Password</label>
			</div>
			<div class="row phoneField">
				<label class="" for="phone">Phone</label>
			</div>
			<div class="row">
				<label class="" for="email">Email</label>
			</div>
			<div class="row">
				<label class="" style="" for="action">Action</label>
			</div>
		</div>
		<div style="clear: both"></div>
		<div id="userList" style="height: 450px; overflow: auto;"></div>
		<!-- Modal -->

		<div id="myModal1" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Modal Header</h4>
					</div>
					<div class="modal-body">
						<div class="col-md-12">
							<div class="col-md-2"></div>
							<div class="col-md-4">Name</div>
							<div class="col-md-4">
								<input id="content_record_name" type="text" />
							</div>
							<div class="col-md-2"></div>
						</div>
						<div class="col-md-12">
							<div class="col-md-2"></div>
							<div class="col-md-3">Role</div>
							<div class="col-md-7">
								<div class="col-md-12">
									<div class="col-md-4"></div>
									<div class="col-md-3">
										<label>Read Only</label>
									</div>
									<div class="col-md-4">
										<label>Read/Write</label>
									</div>
								</div>
								<div class="col-md-12">
									<div class="col-md-5">Question</div>
									<div class="col-md-3">
										<input type="radio" name="questionRadio" value="0" />
									</div>
									<div class="col-md-4">
										<input type="radio" name="questionRadio" value="1" />
									</div>
								</div>
								<div class="col-md-12">
									<div class="col-md-5">User</div>
									<div class="col-md-3">
										<input type="radio" name="userRadio" value="0" />
									</div>
									<div class="col-md-4">
										<input type="radio" name="userRadio" value="1" />
									</div>
								</div>
								<div class="col-md-12">
									<div class="col-md-5">Candidate</div>
									<div class="col-md-3">
										<input type="radio" name="candidateRadio" value="0" />
									</div>
									<div class="col-md-4">
										<input type="radio" name="candidateRadio" value="1" />
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="col-md-2"></div>
							<div class="col-md-4">User Name</div>
							<div class="col-md-4">
								<input id="content_record_userName" type="text" />
							</div>
							<div class="col-md-2"></div>
						</div>
						<div class="col-md-12">
							<div class="col-md-2"></div>
							<div class="col-md-4">Password</div>
							<div class="col-md-4">
								<input id="content_record_password" type="text" />
							</div>
							<div class="col-md-2"></div>
						</div>
						<div class="col-md-12">
							<div class="col-md-2"></div>
							<div class="col-md-4">Phone</div>
							<div class="col-md-4">
								<input id="content_record_phone" type="text" />
							</div>
							<div class="col-md-2"></div>
						</div>
						<div class="col-md-12">
							<div class="col-md-2"></div>
							<div class="col-md-4">Email</div>
							<div class="col-md-4">
								<input id="content_record_email" type="text" />
							</div>
							<div class="col-md-2"></div>
						</div>
						<div style="clear: both"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>

	</div>
</body>
</html>